@font-face {
    font-family: 'Sansita', sans-serif;
    src: url('../Style/Sansita-Regular.ttf');
}

.button, .menu-button, .text-field, .radio-button{
    -fx-font-family: 'Sansita', sans-serif;
    -fx-font-size: 20px;
    -fx-background-radius: 15;
}

.text, .label,.text-area{
    -fx-font-family: 'Sansita', sans-serif;
}
